.main
  .main__contents
    仮置き
  .main__form
    %form
      %input{type: "text",class: "main__form--input",placeholder: "文字を入力"}
      %input{type: "submit",class: "main__form--submit",value: "投稿する"}
  .main__footer
    Homework App 2020